
<div class="tab-content">
	<form method="post">

		<div class="form-group">
			<label class="control-sidebar-subheading"> Camada de Base</label>
			<div class="box-body">
				<div style="padding: 2px;" class="col-sm-12">
					<div class="row">
						<div class="col-sm-6" style="padding: 0px">
							<div style="position: relative; margin: 2px;">
								<input
									style="cursor: pointer; position: absolute; top: 2px; right: 2px"
									type="radio" name="optionsRadios" id="optionsRadios1"
									value="option1" checked> <img title="OpenStreetMap"
									class="img-responsive basemapimg"
									src="common/img/basemaps/bg_osm.jpg" alt="Photo">
							</div>
							<div style="position: relative; margin: 2px;">
								<input
									style="cursor: pointer; position: absolute; top: 2px; right: 2px"
									type="radio" name="optionsRadios" id="optionsRadios2"
									value="option1"> <img title="Imagem de Satélite Google"
									class="img-responsive basemapimg"
									src="common/img/basemaps/bg_googlesat.jpg"
									alt="Photo">
							</div>
						</div>
						<div class="col-sm-6" style="padding: 0px">
							<div style="position: relative; margin: 2px;">
								<input
									style="cursor: pointer; position: absolute; top: 2px; right: 2px"
									type="radio" name="optionsRadios" id="optionsRadios3"
									value="option1"> <img title="Mapa Google"
									class="img-responsive basemapimg"
									src="common/img/basemaps/bg_googlemap.jpg"
									alt="Photo">
							</div>
							<div style="position: relative; margin: 2px;">
								<input
									style="cursor: pointer; position: absolute; top: 2px; right: 2px"
									type="radio" name="optionsRadios" id="optionsRadios4"
									value="option1"> <img title="Sentinel-2 WTMS"
									class="img-responsive basemapimg"
									src="common/img/basemaps/bg_sentinel2.jpg"
									alt="Photo">
							</div>
						</div>

					</div>
					<div title="Opacidade da Camada Base" class="row"
						style="margin-left: -5px;">
						<input id="mainLayerSlider" type="text" value=""
							class="slider form-control" data-slider-min="0"
							data-slider-max="100" data-slider-tooltip="hide"
							data-slider-step="5" data-slider-value="100"
							data-slider-id="blue">
					</div>
				</div>
			</div>
		</div>


		<div class="form-group">
			<label class="control-sidebar-subheading"> Configurações
				Sentinel-2 </label>
			<div class="box-body">
				<table class="table table-sm" style="">
					<tr>
						<td>Nuvens</td>
						<td>65%</td>
					</tr>
					<tr>
						<td>Data Inicial</td>
						<td>Hoje</td>
					</tr>
					<tr>
						<td>Data Final</td>
						<td>Hoje</td>
					</tr>
					<tr>
						<td>L1C</td>
						<td>Sim</td>
					</tr>
					<tr>
						<td>L2A</td>
						<td>Sim</td>
					</tr>
				</table>
			</div>
		</div>


	</form>


</div>




